<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lks.mapper.AccountDrawalApplyMapper">
  <resultMap id="BaseResultMap" type="com.lks.pojo.AccountDrawalApply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="drawal_meony" jdbcType="DECIMAL" property="drawalMeony" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="apply_user_name" jdbcType="VARCHAR" property="applyUserName" />
    <result column="apply_user_id" jdbcType="INTEGER" property="applyUserId" />
    <result column="audit_status" jdbcType="INTEGER" property="auditStatus" />
    <result column="audit_user_name" jdbcType="VARCHAR" property="auditUserName" />
    <result column="audit_user_id" jdbcType="INTEGER" property="auditUserId" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="drawal_card_number" jdbcType="VARCHAR" property="drawalCardNumber" />
    <result column="drawal_account_name" jdbcType="VARCHAR" property="drawalAccountName" />
    <result column="drawal_account_bank" jdbcType="VARCHAR" property="drawalAccountBank" />
    <result column="drawal_bank_name" jdbcType="VARCHAR" property="drawalBankName" />
    <result column="audit_remark" jdbcType="VARCHAR" property="auditRemark" />
    <result column="drawal_account_type" jdbcType="INTEGER" property="drawalAccountType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, org_id, drawal_meony, apply_time, apply_user_name, apply_user_id, audit_status, 
    audit_user_name, audit_user_id, audit_time, remark, drawal_card_number, drawal_account_name, 
    drawal_account_bank, drawal_bank_name, audit_remark, drawal_account_type
  </sql>
  <select id="selectByExample" parameterType="com.lks.pojo.AccountDrawalApplyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from account_drawal_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from account_drawal_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from account_drawal_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lks.pojo.AccountDrawalApplyExample">
    delete from account_drawal_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lks.pojo.AccountDrawalApply">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into account_drawal_apply (org_id, drawal_meony, apply_time, 
      apply_user_name, apply_user_id, audit_status, 
      audit_user_name, audit_user_id, audit_time, 
      remark, drawal_card_number, drawal_account_name, 
      drawal_account_bank, drawal_bank_name, audit_remark, 
      drawal_account_type)
    values (#{orgId,jdbcType=INTEGER}, #{drawalMeony,jdbcType=DECIMAL}, #{applyTime,jdbcType=TIMESTAMP}, 
      #{applyUserName,jdbcType=VARCHAR}, #{applyUserId,jdbcType=INTEGER}, #{auditStatus,jdbcType=INTEGER}, 
      #{auditUserName,jdbcType=VARCHAR}, #{auditUserId,jdbcType=INTEGER}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{drawalCardNumber,jdbcType=VARCHAR}, #{drawalAccountName,jdbcType=VARCHAR}, 
      #{drawalAccountBank,jdbcType=VARCHAR}, #{drawalBankName,jdbcType=VARCHAR}, #{auditRemark,jdbcType=VARCHAR}, 
      #{drawalAccountType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lks.pojo.AccountDrawalApply">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into account_drawal_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        org_id,
      </if>
      <if test="drawalMeony != null">
        drawal_meony,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="applyUserName != null">
        apply_user_name,
      </if>
      <if test="applyUserId != null">
        apply_user_id,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="auditUserName != null">
        audit_user_name,
      </if>
      <if test="auditUserId != null">
        audit_user_id,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="drawalCardNumber != null">
        drawal_card_number,
      </if>
      <if test="drawalAccountName != null">
        drawal_account_name,
      </if>
      <if test="drawalAccountBank != null">
        drawal_account_bank,
      </if>
      <if test="drawalBankName != null">
        drawal_bank_name,
      </if>
      <if test="auditRemark != null">
        audit_remark,
      </if>
      <if test="drawalAccountType != null">
        drawal_account_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="drawalMeony != null">
        #{drawalMeony,jdbcType=DECIMAL},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyUserName != null">
        #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="applyUserId != null">
        #{applyUserId,jdbcType=INTEGER},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="auditUserName != null">
        #{auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditUserId != null">
        #{auditUserId,jdbcType=INTEGER},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="drawalCardNumber != null">
        #{drawalCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="drawalAccountName != null">
        #{drawalAccountName,jdbcType=VARCHAR},
      </if>
      <if test="drawalAccountBank != null">
        #{drawalAccountBank,jdbcType=VARCHAR},
      </if>
      <if test="drawalBankName != null">
        #{drawalBankName,jdbcType=VARCHAR},
      </if>
      <if test="auditRemark != null">
        #{auditRemark,jdbcType=VARCHAR},
      </if>
      <if test="drawalAccountType != null">
        #{drawalAccountType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lks.pojo.AccountDrawalApplyExample" resultType="java.lang.Long">
    select count(*) from account_drawal_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update account_drawal_apply
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orgId != null">
        org_id = #{record.orgId,jdbcType=INTEGER},
      </if>
      <if test="record.drawalMeony != null">
        drawal_meony = #{record.drawalMeony,jdbcType=DECIMAL},
      </if>
      <if test="record.applyTime != null">
        apply_time = #{record.applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.applyUserName != null">
        apply_user_name = #{record.applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserId != null">
        apply_user_id = #{record.applyUserId,jdbcType=INTEGER},
      </if>
      <if test="record.auditStatus != null">
        audit_status = #{record.auditStatus,jdbcType=INTEGER},
      </if>
      <if test="record.auditUserName != null">
        audit_user_name = #{record.auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.auditUserId != null">
        audit_user_id = #{record.auditUserId,jdbcType=INTEGER},
      </if>
      <if test="record.auditTime != null">
        audit_time = #{record.auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.drawalCardNumber != null">
        drawal_card_number = #{record.drawalCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.drawalAccountName != null">
        drawal_account_name = #{record.drawalAccountName,jdbcType=VARCHAR},
      </if>
      <if test="record.drawalAccountBank != null">
        drawal_account_bank = #{record.drawalAccountBank,jdbcType=VARCHAR},
      </if>
      <if test="record.drawalBankName != null">
        drawal_bank_name = #{record.drawalBankName,jdbcType=VARCHAR},
      </if>
      <if test="record.auditRemark != null">
        audit_remark = #{record.auditRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.drawalAccountType != null">
        drawal_account_type = #{record.drawalAccountType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update account_drawal_apply
    set id = #{record.id,jdbcType=INTEGER},
      org_id = #{record.orgId,jdbcType=INTEGER},
      drawal_meony = #{record.drawalMeony,jdbcType=DECIMAL},
      apply_time = #{record.applyTime,jdbcType=TIMESTAMP},
      apply_user_name = #{record.applyUserName,jdbcType=VARCHAR},
      apply_user_id = #{record.applyUserId,jdbcType=INTEGER},
      audit_status = #{record.auditStatus,jdbcType=INTEGER},
      audit_user_name = #{record.auditUserName,jdbcType=VARCHAR},
      audit_user_id = #{record.auditUserId,jdbcType=INTEGER},
      audit_time = #{record.auditTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      drawal_card_number = #{record.drawalCardNumber,jdbcType=VARCHAR},
      drawal_account_name = #{record.drawalAccountName,jdbcType=VARCHAR},
      drawal_account_bank = #{record.drawalAccountBank,jdbcType=VARCHAR},
      drawal_bank_name = #{record.drawalBankName,jdbcType=VARCHAR},
      audit_remark = #{record.auditRemark,jdbcType=VARCHAR},
      drawal_account_type = #{record.drawalAccountType,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lks.pojo.AccountDrawalApply">
    update account_drawal_apply
    <set>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="drawalMeony != null">
        drawal_meony = #{drawalMeony,jdbcType=DECIMAL},
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyUserName != null">
        apply_user_name = #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="applyUserId != null">
        apply_user_id = #{applyUserId,jdbcType=INTEGER},
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="auditUserName != null">
        audit_user_name = #{auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditUserId != null">
        audit_user_id = #{auditUserId,jdbcType=INTEGER},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="drawalCardNumber != null">
        drawal_card_number = #{drawalCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="drawalAccountName != null">
        drawal_account_name = #{drawalAccountName,jdbcType=VARCHAR},
      </if>
      <if test="drawalAccountBank != null">
        drawal_account_bank = #{drawalAccountBank,jdbcType=VARCHAR},
      </if>
      <if test="drawalBankName != null">
        drawal_bank_name = #{drawalBankName,jdbcType=VARCHAR},
      </if>
      <if test="auditRemark != null">
        audit_remark = #{auditRemark,jdbcType=VARCHAR},
      </if>
      <if test="drawalAccountType != null">
        drawal_account_type = #{drawalAccountType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lks.pojo.AccountDrawalApply">
    update account_drawal_apply
    set org_id = #{orgId,jdbcType=INTEGER},
      drawal_meony = #{drawalMeony,jdbcType=DECIMAL},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      apply_user_name = #{applyUserName,jdbcType=VARCHAR},
      apply_user_id = #{applyUserId,jdbcType=INTEGER},
      audit_status = #{auditStatus,jdbcType=INTEGER},
      audit_user_name = #{auditUserName,jdbcType=VARCHAR},
      audit_user_id = #{auditUserId,jdbcType=INTEGER},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      drawal_card_number = #{drawalCardNumber,jdbcType=VARCHAR},
      drawal_account_name = #{drawalAccountName,jdbcType=VARCHAR},
      drawal_account_bank = #{drawalAccountBank,jdbcType=VARCHAR},
      drawal_bank_name = #{drawalBankName,jdbcType=VARCHAR},
      audit_remark = #{auditRemark,jdbcType=VARCHAR},
      drawal_account_type = #{drawalAccountType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>